* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: s;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: whitesmoke;
}



.container {
  width: 90%;
  margin-inline: auto;
}

.navigation {
  background-color: rgb(0, 87, 201);
  width: 100%;
  padding: 10px 0 10px 0;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1
}

.navigation .box-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation .box-navigation .box:nth-child(2) ul {
  display: flex;
  flex-direction: row;
}

.navigation .box-navigation .box:nth-child(1) h1 {
  font-size: 38px;
  color: white;
}

.navigation .box-navigation .box:nth-child(2) ul li {
  list-style: none;
  margin-left: 60px;
}

.navigation .box-navigation .box:nth-child(2) ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;

}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {

  background: #3ea8ff;
  color: #1b1b1b;
  border-radius: 10%;
  transition: 0.5s;
  animation-duration: 0.5s;
  border: none;
  padding: 7px 0 7px 0;

}

.navigation .box-navigation .box:nth-child(3) {
  display: none;
}

.navigation .box-navigation .box:nth-child(2) ul li i {
  display: none;
}


main {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
}

article p {
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 3;
  letter-spacing: 0.6px;
}

/*ABOUT STYLE*/
/*Cardstyle*/

.main-card {
  width: auto;
  height: auto;
  padding: 30px;
  position: static;
  margin: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

.contentcard {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10%;
}

.contentcard h2 {
  color: rgba(0, 0, 0, 0.836);
  border-bottom: 1px solid rgba(53, 53, 53, 0.233);
  margin-bottom: 10px;
}

.contentcard h1 {
  color: rgba(0, 0, 0, 0.836);
  border-bottom: 1px solid rgba(53, 53, 53, 0.233);
  margin-bottom: 10px;
  text-align: center;
}

.contentcard .other {
  padding: 20px;
}


.main .content .contentcard .card {
  width: 600px;
  height: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.main-card .head-card img:nth-child(1) {
  height: 400px;
  object-fit: cover;
  align-items: center;
  margin-top: 60px;
}


.head-card img {
  padding: 10px;
  width: 300px;
  height: 400px;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 15%;
}

.body-card {
  padding: 10px 15px;
}

.body-card h1 {
  margin: 0;
}

.body-card a svg {
  width: 31px;
  float: right;
}

.body-card svg a:hover {
  color: #3ea8ff;
}

.contentcard P {
  margin-top: 40px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
}


.content .main-card h1:nth-child(1) {
  font-size: 40px;
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.836);
  border-bottom: 1px solid rgba(53, 53, 53, 0.233);

}

.main {
  background-color: whitesmoke;
}

.main article {
  line-height: 3;
  letter-spacing: 0.6px;
}

.main p {
  line-height: 2;
  letter-spacing: 0.6;
}


footer {
  margin-top: 60px;
  width: 100%;
  height: 80px;
  background-color: rgb(6, 71, 168);
  color: whitesmoke;
  align-items: center;
}

.footer {
  display: flex;
}


.footer h1 {
  font-size: 35px;
  margin-top: 8px;
  padding-left: 40px;
}

.footer p {
  font-size: 20px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}



@media screen and (max-width: 990px) {
  footer {
    margin-top: 60px;
    width: 1200px;
    height: 80px;
    background-color: rgb(0, 87, 201);
    color: whitesmoke;
    align-items: center;
    position: fixed;
    bottom: 0px;
  }

  .footer {
    display: flex;

  }


  .footer h1 {
    font-size: 35px;
  }

  .footer p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

  }
  .main {
    display: block;
  }
}